body {
    background-color: lightgray;
    width: 500px;
    margin: auto;
    background-image: url("background.jpg")
}

h1 {
    font-family: 'Sigmar One', cursive;
    color: black;
    text-align: center;
    font-size:60px;
    margin-top: 30px;
    
}
main {
    position:relative;
    left:100px;
    text-align:center;
    background-color:white;
    opacity:0.8;
    border-radius:10px;
    width:300px;
    border: 1px solid gray;
    padding: 7px;
    border-radius:10px;
    border-width: 2px;
    
}

header {
    text-align: center;
}

p {
    color: gray;
    border: 1px solid gray;
    padding: 7px;
    border-radius:10px;
    border-width: 2px;
    width:70px;
    position:relative;
    left:100px;
    top:-10px;
    
}
